---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import { getTag } from "@lib/getTag";

const currentYear = new Date().getFullYear();
const tag = getTag();
---

<footer class="animate">
  <Container>
    <div class="flex justify-between place-items-center">
      &copy; {currentYear}
      {`|`}
      {SITE.NAME}
      <span class="text-right text-xs text-gray-400">{tag}</span>
    </div>
  </Container>
</footer>
