---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
---

<footer class="animate">
  <Container>
    <div class="flex justify-between place-items-center">
      &copy; 2024 {`|`}
      {SITE.NAME}
    </div>
  </Container>
</footer>
