---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/index.html" underline={false}>
        <div
          class="font-bold text-2xl tracking-tighter lowercase flex items-center"
        >
          <span>&gt;</span>
          <span class="ml-2">mohdsaquib</span>
          <span class="text-pink-600">|</span>
        </div>
      </Link>

      <nav class="flex gap-2 text-lg py-1">
        <Link href="/projects/index.html"> projects </Link>
        <span>
          {`/`}
        </span>
        <Link href="/work/index.html"> work </Link>
      </nav>
    </div>
  </Container>
</header>
