---

---

<section>
    <article class="space-y-4 text-lg">
        <p class="animate tracking-normal">
            Welcome to my corner of the web! I'm Saquib, a tech enthusiast with
            a deep passion for Cloud Computing, Containerization, Data
            Analytics, and all things development. I'm always diving into new
            technologies to level up as a cloud developer. I've been recognized
            for my work and even endorsed by AWS Serverless Hero Forrest
            Brazzel. When I'm not coding, you'll find me traveling or playing
            soccer. Let's chat about tech, gaming, sports, or anything else—feel
            free to reach out at nsaquib96@gmail.com! 👍
        </p>
    </article>
</section>
